<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="page-header"><%= @list.name %>
      <small> |<%= link_to " Edit", edit_list_path(@list) %></small>
    </h1> 
    <!-- render form to add item -->
    <%= render partial: 'items/form', locals: { list: @list, item: @item} %>

     <div id='js-items'>
          <%= render @items %>
    </div>
    <h2 class="page-header">Completed Items</h2>
      <% @completed_items.each do |item| %>
        <%= content_tag :div, id: "item-#{item.id}" do %>
        <h4 class="completed-items"> 
          <%= render partial: 'votes/voter', locals: { list: @list, item: item } %>

          <%= item.description %>

          <%= link_to " ", [@list, item], method: :delete, class: 'glyphicon glyphicon-remove-circle', remote: true %>

          <span class="label label-default pull-right fade">
                    <%= time_ago_in_words(item.created_at) %> ago
          </span>
        </h4>
        <% end %>
      <% end %>
  </div>
</div>