<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="page-header"><%= @list.name %>
      <small> |<%= link_to " Edit", edit_list_path(@list) %></small>
    </h1> 
    <!-- render form to add item -->
    <%= render partial: 'items/form', locals: { list: @list, item: @item} %>
    <!-- loop through each item -->
    <% @items.each do |item| %>
      <h4> <%= item.description %> &raquo; <small>
           <%= time_ago_in_words(item.created_at) %> ago
           </small> </h4>
    <% end %>
    <h2 class="page-header">Completed Items</h2>
    <% @completed_items.each do |item| %>
      <h4 class="completed-items"> <%= item.description %> </h4>
    <% end %>
  </div>
</div>