<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="page-header"><%= @list.name %>
      <small> |<%= link_to " Edit", edit_list_path(@list) %></small>
    </h1> 

    <%= @list.items.each do |item| %>
      <h4> <%= item.description %> &raquo; <small>
           <%= time_ago_in_words(item.created_at) %>
           </small> </h4>
    <% end %>
  </div>
</div>
