<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="page-header"><%= @list.name %>
      <small> |<%= link_to " Edit", edit_list_path(@list) %></small>
    </h1> 
    <!-- render form to add item -->
    <%= render partial: 'items/form', locals: { list: @list, item: @item} %>

     <div id='js-items' data-update-url='<%= sort_list_items_url(@list, @item) %>'>
          <%= render @items %>
    </div>
    <h2 class="page-header">Completed Items <span id="completed_items_count">(<%= @list.items.where(complete: true).count %>)</span>
      <%= render partial: 'lists/visible', locals: { list: @list } %>
    </h2>
    <div id='completed-items'>
    <!-- Don't show the Completed Items list if the user has toggled it off. 
         Check our datatabase List attribute :visible and makes sure it's boolean is true 
         if @list.visible -->
        <% @completed_items.each do |item| %>
          <%= render partial: 'items/completed_item', locals: { list: @list, item: item } %>
        <% end %>
    </div>
  </div>
</div>