<%= content_tag :div, id: "item-#{item.id}" do %>
  <h4> 
      <%= render partial: 'items/check_state', locals: { list: list, item: item } %>

      <%= item.description %>

      <%= link_to " ", [list, item], method: :delete, class: 'glyphicon glyphicon-remove-circle', remote: true %>

      <span class="label label-default pull-right fade">
        <%= time_ago_in_words(item.created_at) %> ago
      </span>
  </h4>
<% end %>